@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

.button_bg {
  @apply flex items-center gap-2 font-medium text-white p-2 rounded-full cursor-pointer;

  background: linear-gradient(
    to top right,
    #28c0ed 0%,
    #2bc0f0 25%,
    #009dff 55%,
    #287af7 100%
  );
}

.button_n {
  @apply p-2 border rounded-full cursor-pointer;

  border-color: #287af7;
}

.form_button_bg {
  @apply flex items-center gap-2  text-white px-2 py-0.5 rounded-lg cursor-pointer text-sm;

  background: linear-gradient(
    to top right,
    #28c0ed 0%,
    #2bc0f0 25%,
    #009dff 55%,
    #287af7 100%
  );
}
.form_button_n {
  @apply flex items-center gap-2   px-2 py-0.5 rounded-lg cursor-pointer text-sm border;

  border-color: #287af7;
}

/* ===== Custom Scrollbar ===== */

::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}
::-webkit-scrollbar-track {
  background: #f1f7ff;
  border-radius: 999px;
}
::-webkit-scrollbar-thumb {
  background: #93c5fd;
  border-radius: 999px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #60a5fa;
}
